*{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
}

body{
	background: #ebeaed;
  width:400px;
  height:290px;
}
/*Animations */

  @keyframes hover {
  0%, 100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
}  

@keyframes hovery {
  0%, 100% {
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
  50% {
    opacity:1.0;
    animation-timing-function: ease-in;
  }
}



@keyframes slideIn {
  from { opacity: 0; transform: translateY(-20%); }
}
@-webkit-keyframes slideIn {
  from { opacity: 0; -webkit-transform: translateY(-20%); }
}


@keyframes fadein {
   0% { opacity: 0; 
   }
   100% { opacity: 1; 
   }
}

@keyframes slideLeftIn {
  from { opacity: 0; transform: translateX(-50%); }
}
@-webkit-keyframes slideLeftIn {
  from { opacity: 0; -webkit-transform: translateX(-50%); }
}


@keyframes slideRightIn {
  from { opacity: 0; transform: translateX(50%); }
}
@-webkit-keyframes slideRightIn {
  from { opacity: 0; -webkit-transform: translateX(50%); }
}

.spinner{
  width:400px;
  height:290px;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-size: cover;
  background-position: center;
  background: white;
  animation-name: slideLeftIn;
  animation-duration: 0.5s;
}

.loader-logo {
  position:relative;
  top:25%;
  left:35%;
  height: 120px;
  width:auto;
  animation: hover 2s infinite;
}

.loader-text{
  position:absolute;
  display:block;
  font-size:16px;
  font-weight:600;
  color: #d623fe;
  text-shadow: 2px 2px rgba(158, 15, 191, 0.1);
  top:70%;
  left:20%;
  animation: fadeIn 2s infinite;
}


/* Tada ~*/

button{
	width:100%;
}

textarea:focus, input:focus{
    outline: none;
}

.search-instructions{
	text-align:center;
	font-size:18px;
	cursor:default;
}

.open-fade{
	text-shadow: 2px 2px rgba(158, 15, 191, 0.1);
  margin-left:5px;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

.search-button{
	background:rgba(255,255,255,0.8);
	font-size:16px;
	font-weight:600;
	margin-top:15px;
	color: #d623fe;
	border: 2px solid #d623fe;
	box-shadow:
  rgba(214, 35, 254, 0.5) 1px 1px,
  rgba(214, 35, 254, 0.4) 2px 2px,
  rgba(214, 35, 254, 0.3) 3px 3px,
  rgba(214, 35, 254, 0.2) 4px 4px;
  padding:3px 15px;
	border-radius:5px;
	transition: all 0.15s ease 0s;
}

.new-search{
  display:block;
  position:relative;
  width:90px;
  float:right;
  margin-top:-1px;
}

.search-button:hover{
	box-shadow:
  rgba(214, 35, 254, 0.2) 1px 1px,
  rgba(214, 35, 254, 0.1) 2px 2px,
  rgba(214, 35, 254, 0.00) 3px 3px,
  rgba(214, 35, 254, 0.00) 4px 4px;
  color: white;
  background: #d623fe;
	border: 2px solid #d93cfc;
	cursor:pointer;
}


.result-detail, .result-index, .search-form{
	padding:15px 30px 25px 30px;
	width:350px;
  margin-top:10px;
}

.result-index{
  display:block;
  margin-bottom:15px;
  animation-name: slideRightIn;
  animation-duration: 0.5s;
  top: 0;
  left: 0;
  right: 0;
}


/*Styling input elements */

.search-form input[type="text"]{
  text-align:center;
	border: 2px solid #d623fe;
	font-size:16px;
	font-weight:600;
	letter-spacing:1px;
	padding:4px 10px;
	background:white;
	color: #d623fe;
	transition: all 0.2s ease 0s;
  width: 90%;
  border-radius: 5px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}


/*Placeholder styling*/

::-webkit-input-placeholder {
 font-size: 12px;
 font-weight:400;
}

:-moz-placeholder { /* older Firefox*/
  font-size: 12px;
 font-weight:400;
}

::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 12px;
 font-weight:400;
} 

:-ms-input-placeholder { 
 font-size: 12px;
 font-weight:400;
}

.main-search{
	margin-top:15px;
	margin-bottom:-45px;
}

.standard-input-field{
	width:80%;
	border-radius:3px;
}

.reveal-if-active-2, .reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}


.cityInput:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
  animation-name: slideIn;
  animation-duration: 0.2s;
}

.currentLocation:checked ~ .reveal-if-active-2 {
	font-size:12px;
	margin-left:20px;
	color:#d623fe;
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
  animation-name: slideIn;
  animation-duration: 0.2s;
}

.pacifico{
  text-shadow: 2px 2px rgba(158, 15, 191, 0.1);
	font-family: 'Pacifico', cursive;
	font-size:27px;
	color: #ce25fc;
}

.pacifico-small-open{
  font-family: 'Pacifico', cursive;
  font-size:24px;
  text-shadow: 2px 2px rgba(158, 15, 191, 0.1);
  color: #ce25fc;
}

.pacifico-small-closed{
  font-family: 'Pacifico', cursive;
  font-size:24px;
  text-shadow: 2px 2px rgba(126, 93, 237, 0.1);
  color: #7e5ded;

}

.pacifico-small-not-available{
  font-family: 'Pacifico', cursive !important;
  font-size:24px;
  text-shadow: 2px 2px rgba(98, 102, 101, 0.1);
  color: rgba(98, 102, 101, 0.4);
}

.results-label{
    font-family: 'Pacifico', cursive;
    font-size:27px;
    color: #ce25fc;
    text-shadow: 2px 2px rgba(158, 15, 191, 0.1);
}


.index-item{
  margin: 15px 0px;
  background:rgba(255,255,255, 0.7);
  border:1px solid rgb(172, 175, 175);
  box-shadow:
  rgba(172, 175, 175, 0.5) 1px 1px,
  rgba(172, 175, 175, 0.4) 2px 2px,
  rgba(172, 175, 175, 0.3) 3px 3px,
  rgba(172, 175, 175, 0.2) 4px 4px;
  padding:6px 15px;
  border-radius:5px;
  transition: all 0.15s ease 0s;
}

.index-item:hover{
  background:white;
  cursor:pointer;
  box-shadow:
  rgba(172, 175, 175, 0.2) 1px 1px,
  rgba(172, 175, 175, 0.1) 2px 2px,
  rgba(172, 175, 175, 0.00) 3px 3px,
  rgba(172, 175, 175, 0.00) 4px 4px;
}

.left-side{
  word-wrap: break-word;
  display:inline-block;
  float:left;
  width:240px;
  margin-top:15px;
  margin-right:10px;
}

.left-side span{
  font-size:16px;
}

.right-side{
  display:inline-block;
  float:left;
  width:60px;
  margin-top:20px;
}

.name-label{
  color: #4f4d4d;
  line-height:80%;
  font-weight:600;
  width:auto;
  margin:0px;
}

.miles-label{
  font-size:12px !important;
  color: #939393;
  letter-spacing:1px;
  padding:0px;
}


.no-matches-text{
  display:block;
  margin-top:10px;
  font-size:20px;
  font-weight:bold;
  color: #797a7a;
}

.no-matches-text-small{
  display:block;
  margin-top:10px;
  font-size:14px;
  color: #797a7a
}

.more-info-text{
  font-size:10px;
  color: #ce25fc;
  transition: all 15s ease 0s;
}

.pacifico-big-open{
  font-family: 'Pacifico', cursive;
  font-size:32px !important;
  text-shadow: 2px 2px rgba(158, 15, 191, 0.1);
  color: #ce25fc !important;
  margin-top:-5px;
  margin-left:40%;
}

.pacifico-big-closed{
  font-family: 'Pacifico', cursive !important;
  font-size:32px !important;
  text-shadow: 2px 2px rgba(126, 93, 237, 0.1);
  color: #7e5ded !important;
  margin-top:-5px;
  margin-left:40%;
}

.pacifico-big-not-available{
  font-family: 'Pacifico', cursive;
  font-size:32px !important;
  text-shadow: 2px 2px rgba(98, 102, 101, 0.1);
  color: rgba(98, 102, 101, 0.4) !important;
  margin-top:-5px;
  margin-left:40%;
}


.results-text{
  display:block;
  font-size:20px;
  font-weight:600;
  color: #545656;
}

.big-results-text{
  margin-top:25px;
}


.phone-side{
  padding:10px 0px;
  word-wrap: break-word;
  display:inline-block;
  float:left;
  margin-right:15px;
  width:140px;
  letter-spacing:1px;
  text-align:center;
}

.address-side{
  padding:10px 0px;
  display:inline-block;
  float:left;
  line-height: 98%;
  text-align:center;
  width:190px;
  transition: all 0.15s ease 0s;
  word-spacing:5px;
  text-shadow: 1px 1px rgba(140, 130, 178, 0.2);
}

.address-side:hover{
  text-decoration: underline;
  cursor:pointer;
  text-shadow: 0px 0px #8c82b2;
}

.technical-details{
  display:inline-block;
  margin-top:15px;
  margin-bottom:10px;
}


.detail{
  display:inline-block !important;
  float: left !important;
  margin-right:10px;
}

.right-detail{
  position:absolute;
  margin-top:0px;
  margin-left:10px;
  margin-right:0px;
}


.results-button{
 display:inline-block;
 float:left;
  position:relative;
  background:rgba(255,255,255,0.8);
  font-size:16px;
  font-weight:600;
  margin-right:45px;
  margin-top:15px;
  color: #7e5ded !important;
  border:2px solid #7e5ded;
 box-shadow:
  rgba(126, 93, 237, 0.5) 1px 1px,
  rgba(126, 93, 237, 0.4) 2px 2px,
  rgba(126, 93, 237, 0.3) 3px 3px,
  rgba(126, 93, 237, 0.2) 4px 4px;
  padding:3px 15px;
  border-radius:5px;
  transition: all 0.15s ease 0s;
}


.results-button:hover{
  box-shadow:
  rgba(126, 93, 237, 0.2) 1px 1px,
  rgba(126, 93, 237, 0.1) 2px 2px,
  rgba(126, 93, 237, 0.00) 3px 3px,
  rgba(126, 93, 237, 0.00) 4px 4px;
  color: white !important;
  background:  rgb(126, 93, 237) !important;
  border: 2px solid rgba(126, 93, 237);
  cursor:pointer;
}

.icon{
  display:block;
  position:relative;
  margin:10px auto;
}

.will-open{
  color: #d623fe,
  font-weight: 400i;
}

.future-hours{
  margin-bottom:-10px;
  text-align:center;
  font-weight:600;
  color: #545656;
}

.carousel-container{
  width: 350px;
  height:80px;
  margin-bottom:10px;
}


.display-date{
  cursor:pointer;
  margin-top:10px;
  margin-left:40%;
  font-size:12px;
  margin-bottom:10px;
  color: #7e5ded;
  font-weight:600;
}

.display-hours{
  cursor:pointer;
  font-family: 'Raleway', sans-serif;
  margin-top:8%;
  font-weight:600;
  position:relative;
  display:block;
  margin-left:25%;
  font-size:18px;
  text-shadow: 2px 2px rgba(126, 93, 237, 0.1);
  color: #7e5ded;
}

.tester{
  display:block;
}

.no-info-yet{
  font-weight:bold;
  color: #797a7a;
  margin-top:20px;
  text-align:center;
}

.image-url{
  float:left;
  height:110px;
  width:auto;
  background-position: center center;
}

.image-container{
  float:left;
  width:60px;
  height:60px;
  margin-right:25px;
  margin-top:5px;
  margin-bottom:15px;
  border-radius:100px;
  overflow:hidden;
  z-index:1000;
  border:1px solid #7e5ded;
}

.calculating{
  font-size:12px;
  text-align:center;
  font-weight:600;
  text-shadow: 2px 2px rgba(126, 93, 237, 0.1);
  color: #7e5ded;
  margin-top:10px;
  animation: hovery 2s infinite;
  height:20px;
  cursor:pointer;
  transition: all 0.15s ease 0s;
}

.purp{
  color: #7e5ded;
  text-shadow: 2px 2px rgba(126, 93, 237, 0.1);
}

.waiting{
  padding:3px 8px !important;
  position:absolute;
  margin-top:60%;
  margin-left:10%;
  border-radius:20px;
  font-weight: 400 !important;
  font-size: 12px;
  background:white;
  color: rgb(171, 173, 171) !important;
  border:1px solid rgb(171, 173, 171);
  box-shadow:
  rgba(171, 173, 171, 0.5) 1px 1px,
  rgba(171, 173, 171, 0.4) 2px 2px,
  rgba(171, 173, 171, 0.3) 3px 3px,
  rgba(171, 173, 171, 0.2) 4px 4px;
}

.waiting:hover{
  color:white;
  background: rgb(171, 173, 171) !important;
}