*{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
}

body{
	background: #ebeaed;
}
/*Animations */

  @keyframes hover {
  0%, 100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
} 


@keyframes slideIn {
  from { opacity: 0; transform: translateY(-20%); }
}
@-webkit-keyframes slideIn {
  from { opacity: 0; -webkit-transform: translateY(-20%); }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Tada ~*/

button{
	width:100%;
}

textarea:focus, input:focus{
    outline: none;
}

.search-instructions{
	text-align:center;
	font-size:18px;
	cursor:default;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.open-fade{
	text-shadow: 2px 2px rgba(158, 15, 191, 0.1);
			margin-left:5px;
	    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

.search-button{
	background:white;
	font-size:16px;
	font-weight:600;
	margin-top:10px;
	color: #d623fe;
	border: 2px solid #d623fe;
	box-shadow:
  rgba(214, 35, 254, 0.5) 1px 1px,
  rgba(214, 35, 254, 0.4) 2px 2px,
  rgba(214, 35, 254, 0.3) 3px 3px,
  rgba(214, 35, 254, 0.2) 4px 4px;
  padding:2px 15px;
	border-radius:3px;
	transition: all 0.15s ease 0s;
}

.search-button:hover{
	box-shadow:
  rgba(214, 35, 254, 0.2) 1px 1px,
  rgba(214, 35, 254, 0.1) 2px 2px,
  rgba(214, 35, 254, 0.00) 3px 3px,
  rgba(214, 35, 254, 0.00) 4px 4px;
  color: white;
  background: #d623fe;
	border: 2px solid #d93cfc;
	cursor:pointer;
}

.search-form{
	padding:15px 30px 25px 30px;
	width:250px;

}



/*Styling input elements */

.search-form input[type="text"]{
	border: 2px solid #d623fe;
	font-size:16px;
	font-weight:600;
	letter-spacing:1px;
	padding:4px 10px;
	background:white;
	color: #d623fe;
	transition: all 0.2s ease 0s;
	 width: 90%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}


/*Placeholder styling*/

::-webkit-input-placeholder {
 font-size: 12px;
 font-weight:400;
}

:-moz-placeholder { /* older Firefox*/
  font-size: 12px;
 font-weight:400;
}

::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 12px;
 font-weight:400;
} 

:-ms-input-placeholder { 
 font-size: 12px;
 font-weight:400;
}

.main-search{
	margin-top:10px;
	margin-bottom:-45px;
}

.standard-input-field{
	width:80%;
	border-radius:3px;
}

.reveal-if-active-2, .reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}


.cityInput:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
  animation-name: slideIn;
  animation-duration: 0.2s;
}
.currentLocation:checked ~ .reveal-if-active-2 {
	font-size:12px;
	margin-left:20px;
	color:#d623fe;
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
  animation-name: slideIn;
  animation-duration: 0.2s;
}

.pacifico{
	font-family: 'Pacifico', cursive;
	font-size:25px;
	color: #ce25fc;
}

